DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=log.alrsheed.net,72.61.107.230
CSRF_TRUSTED_ORIGINS=http://log.alrsheed.net,http://log.alrsheed.net:7096,http://72.61.107.230,http://72.61.107.230:7096

DB_HOST=service-lodba-ivmh1k
DB_PORT=3306
DB_NAME=lo_dba
DB_USER=lo_user
DB_PASSWORD=your-db-password

PORT=8000
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

EVOLUTION_SERVER_URL=http://72.61.107.230:8081
EVOLUTION_API_KEY=your-evolution-api-key
EVOLUTION_INSTANCE_NAME=farshops
EVOLUTION_NOTIFY_ENABLED=True
EVOLUTION_VERIFY_SSL=False
