DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=log.alrsheed.net
CSRF_TRUSTED_ORIGINS=http://log.alrsheed.net,http://log.alrsheed.net:7096

DB_HOST=service-lodba-ivmh1k
DB_PORT=3306
DB_NAME=lo_dba
DB_USER=lo_user
DB_PASSWORD=your-db-password

PORT=8000
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
